.group-li
{
	width: 20%;
	border-right: solid gray 1px;
	padding-right: 2%;
	float: left;
	margin-right: 3%;
}

.group-details
{
	width: 74%;
	float: left;
}

.content
{
	width: 80% !important;
	margin: auto;
}
.tab-content
{
	width: 90%;
	margin: 5% auto 0 auto;
}