@font-face {
    font-family: 'Garamond';
    src: url("../fonts/Garamond.ttf") format('truetype');
}

@media only screen and (max-width: 400px) {
	.grape-index h1 {
		font-size: 800%;
	}
	#grape-title {
		right: 15% !important;
	}
	div[data-toggle] {
		right: 23% !important;
	}
}

.container
{
	width: 100% !important;
	min-height: 100vh;
}

body
{
	height: 100%;
	background: url("../images/movie.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
/*	background-height: 100%;
	min-height: 600px;*/
}

.navbar-default
{
	background: rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0.4);
	border-radius: 0px;
}

.grape-index
{
	font-family: Garamond;
	/*font-weight: bold;*/
}

#grape-title {
	position: absolute;
	top: 15%;
	right: 8%;
	text-align: center;
	color: white;

}

.content
{
	width: 100% !important;
	margin: auto;
}

div[data-toggle] {
	display: inline-block;
	position: absolute;
	right: 18%;
	width: 200px;
	height: 45px;
	border: 1px white solid;
	font-size: 25px;
	font-family: Garamond;
	text-align: center;
	color: white;
}

div[data-toggle] span {
	display: inline-block;
	margin-top: 2px;
}

#log-in {
	top: 64%;
	transition: background-color 500ms,
				color 800ms;
}

#log-in:hover {
	background-color: rgba(255,255,255,0.7);
	color: black;

}

#sign-up {
	top: 75%;
	transition: background-color 500ms,
				color 800ms;
}

#sign-up:hover {
	background-color: rgba(255,255,255,0.7);
	color: black;
}