.vote-details
{
    height: 100%;
    width: 80%;
    margin: 3% auto;
}

.result-graph
{
    height: 500px;
    width: 100%;
    margin: auto;
}

.breadcrumb
{
    margin:0;
}

.panel-body
{
    width: 90%;
    margin: auto;
}