{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/index-log.css">
    <script src="../static/js/index-log.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var username = {{ username }};
    </script>
{% endblock %}

{% block navbar %}
    {% if islogin == '1' %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown">
                    {{ username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        <li><a href="#" data-toggle="modal" data-target="#logModal">
            Log In
        </a></li>
        <li><a href="#"  data-toggle="modal" data-target="#regModal">
            <i class="fa fa-user-plus"></i> Sign Up
        </a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="margin-top: 5%">
        <h1><i class="fa fa-bug"></i> 404 NOT FOUND <i class="fa fa-bug"></i></h1><hr>
        <div class="error-info">
            <h4>OOPS! The page You are looking for does not exist!</h4><hr>
            <h4>You are directed to this page because:</h4>
            <ul>
                <li><h4>The group/vote/discussion you are finding does not exist</h4></li>
                <li><h4>The group/vote/discussion you are finding has been deleted</h4></li>
            </ul><hr>
            <h4>Please check if the id of the group/vote/discussion you entered is correct.</h4>
            <h4>Click <a href="{{ url_for('index') }}">here</a> to go back to Index</h4>
        </div>
    </div>
{% endblock %}

{% if islogin == '0' %}
    {% block modal %}
        <div class="modal fade" id="logModal" tabindex="-1" role="dialog"
            aria-labelledby="logModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                        &times;
                        </button>
                        <h4 class="modal-title" id="logModalLabel">
                            Log In</h4>
                    </div>
                    <div class="modal-body">
                        <form class="login" action="{{ url_for('login') }}" method="post">
                            <div class="form-group">
                                <label for="emailL">Email address</label>
                                <input class="form-control email" name="email"
                                       id="emailL" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="passwordL">Password</label>
                                <input type="password" class="form-control password"
                                       id="passwordL" placeholder="Password" name="password">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        {% if message2 %}
                            <p>{{ message2 }}</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end of log in modal -->

        <div class="modal fade" id="regModal" tabindex="-1" role="dialog"
        aria-labelledby="regModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                            &times;</button>
                        <h4 class="modal-title" id="regModalLabel">
                            Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <form class="register" action="{{ url_for('register') }}" method="post">
                            <div class="form-group">
                                <label for="emailR">Email address</label>
                                <input class="form-control email" name="email"
                                       id="emailR" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="usernameR">Username</label>
                                <input class="form-control username-login" name="username"
                                       id="usernameR" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control password"
                                       name="password" id="passwordR" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="confirmR">Confirm Your Password</label>
                                <input type="password" class="form-control password"
                                       name="password2" id="confirmR" placeholder="Confirm">
                            </div>
                            <button type="submit" class="btn btn-default" >Join!</button>
                        </form>
                        {% if message1 %}
                            <p>{{ message1 }}</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- end of register modal -->
    {% endblock %}
{% endif %}
